import firebase from 'firebase';

const firebaseApp = firebase.initializeApp({
    apiKey: "AIzaSyDap2NTFyD39nhzDXCvzoRkF5qixHR4AfI",
    authDomain: "instagram-clone-35e7b.firebaseapp.com",
    projectId: "instagram-clone-35e7b",
    storageBucket: "instagram-clone-35e7b.appspot.com",
    messagingSenderId: "898000118469",
    appId: "1:898000118469:web:fc37648cd984b474c646ac"
});

const db = firebaseApp.firestore();
const auth = firebase.auth();
const storage = firebase.storage();

export { db, auth, storage };
